.no-scroll {
	overflow-y: hidden;
}

.mobile-nav {
    /* display: none; */
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    z-index: 99;
    /* display: flex; */
    /* flex-direction: column;
    align-items: flex-start; */
    padding: 72px 40px 40px 40px;
    background-color: #141d22d0;
    /* background-color: rgba(255, 255, 255, 0.8); */
    transition: all 0.3s ease-in;
}

.mobile-nav.active {
    /* display: flex; */
    position: static;
    display: none;
}

.mobile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    /* text-align: center; */
    height: 100%;
    width: 100%;
    font-size: 22px;
}

.account.mobile-account {
    display: block;
}

.mobile__divider  {
    width: 70%;
    border: 1px solid #d3d3d3;
}


/*  ==================================================== */
.mobile-nav--open {
	/* right: 0; */
}

.mobile-nav a {
	color: #fff;
}

.mobile-nav a:hover, .mobile-nav a.active {
	color: var(--accent);
}

.mobile-nav-list {
	display: grid;
	gap: 20px;
	text-transform: capitalize;
}

.mobile-nav-fade {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(19 29 34 / 70%);
	z-index: 9;
	opacity: 0;
	transition: opacity 0.2s ease-in;
	pointer-events: none;
}


.mobile-nav-fade--open {
	/* opacity: 1; */
	pointer-events: all;
}

@media (max-width: 700px){
    .mobile-nav.active {
        /* position: fixed;
        display: flex; */
    }

    .mobile-nav--open {
        right: 0;
    }

    .mobile-nav-fade--open {
        opacity: 1;
    }
}

