.mobile-nav-button {
	/* Reset for button */
	cursor: pointer;
	padding: 0;
	border: none;
	background: transparent;
	color: var(--text-color);

	/* Nav icon styles*/
	position: relative;
	z-index: 999;
	width: 42px;
	height: 22px;
	/* display: flex; */
	justify-content: center;
	align-items: center;

    display: none;
}

@media (max-width: 700px){
    .mobile-nav-button {
        display: flex;
    }
}

.mobile-nav-button__icon {
	display: block;
	position: relative;
	width: 42px;
	height: 4px;
	background-color:  var(--text-color);
}

.mobile-nav-button__icon::after,
.mobile-nav-button__icon::before {
	position: absolute;
	left: 0;
	content: '';
	width: 42px;
	height: 4px;
	background-color:  var(--text-color);
    /* Трансформация при закрывании */
	transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
}

.mobile-nav-button__icon::before {
	top: -10px;
}

.mobile-nav-button__icon::after {
	top: 10px;
}

.mobile-nav-button__icon.active {
	background-color: transparent;
}

.mobile-nav-button__icon.active::before {
	transform: rotate(45deg);
	top: 0;
    /* Трансформация при открывании */
	transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
}

.mobile-nav-button__icon.active::after {
	transform: rotate(-45deg);
	top: 0;
    /* Трансформация при открывании */
	transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
}
